* {
    /*1. 字体*/
    font-size: 10px;
    font-family: 'Microsoft Yahei';
    font-weight: normal;
    /* bold lighter */
    font-style: normal;
    /*italic*/
    font: italic 700 20px "yahei";
    /*font-style font-weight font-size font-family,  后两个必须写*/

    color: red;
    line-height: 80px;
    text-align: center;
    /*文本水平对齐方式*/
    text-indent: 2em;
    /*首行缩进*/
    text-decoration: line-through;

    /*  背景 */
    background-color: lightblue;
    background-image: url(/static/image/a.png);
    background-repeat: repeat-x;
    background-position: left;
    background-attachment: fixed;
    /* background: 背景颜色 背景图片 背景平铺 背景滚动 背景位置 */
    background: rgba(0, 0, 0, 0.3); /*背景透明*/
    

    /* 盒子没有宽度padding不会撑开盒子
      有宽度，margin auto 水平居中 margin : 0 auto */
    
    margin: 0; /*清除默认内外边距*/
    padding: 0; /*清除默认内外边距*/
     /* 权重 
    标签选择器 0,0,0,1
    类，伪类   0,0,1,0
    id        0,1,0,0
    行内样式   1,0,0,0 */

    /* width > padding > margin */
    border-radius: 10px;/*圆角*/
    
    /* box-shadow  阴影 */
    float: left; /*浮动，脱离标准流 float会改动元素的display 变成inline-block*/

    /* 为什么要清除浮动?
    父级盒子不方便给高度，子盒子浮动就不占有位置，最后父级盒子高度为0，就影响下面的标准流盒子 
    清除浮动主要为了解决父级元素因为子级浮动引起内部高度为0的问题*/
    clear: both; 
    overflow: hidden; /*给父级元素添加overflow:hidden*/
    /* 给父级加 clearfix, 最佳
    .clearfix:after{
        content:"";
        display: block;
        height: 0;
        visibility:hidden;
        clear:both;
    }
    .clearfix{
        *zoom:1;
    } */

    /* css属性书写顺序 重点 */
    /*  1. 布局定位属性: display/position/float/clear/visibility/overflow
        2. 自身属性: width/height/margin/padding/border/background/
        3. 文本属性: color/font/text-decoration/text-align/vertical-align/white-space/break-word
        4. 其他属性 （css3）: content/cursor/border-radius/box-shadow/text-shadow */

    position: relative; /* 继续占有标准流 */
    position: absolute; /* 脱标 子绝父相*/
    /* 绝对定位不能通过margin 左右auto居中对齐 会转变元素为行内块*/

    visibility: hidden; /*位置保留*/
    overflow: hidden; /*超出部分显示隐藏 visible hidden scroll auto*/
    resize: none; /*防止拖拽*/
    vertical-align: middle; /*只对行内元素或行内块元素有效   top bottom baseline middle 解决底侧有一空白缝隙*/

    white-space: nowrap; /* 强制一行内显示文本 */
    overflow: hidden; /*超出部分隐藏*/
    text-overflow: ellipsis; /*用省略号替代超出部分*/
    /* E[attr] 属性选择器 权重10 */
    /* :first-child :last-child :nth-child  */
    /* :nth-child(even) 偶数 :nth-child(odd) 奇数 :nth-child(n) :nth-child(2n) :nth-child(5n) 5 10 15* :nth-child(n+5) 从第5个到最后*/
    /* span:first-of-type :last-of-type :nth-of-type(2) 选择指定类型的元素*/

    /* ::before 在元素内部的前面插入内容
       ::after 在元素内部的后面插入内容 */

    /* transform: translate() rotate() scale() 移动 旋转 缩放 最大的优点：不会影响其他元素的位置 对行内标签没有效果*/
    transform: translate(100px,100px);
    transform: translateX(100px);
    transform: translateX(50%); /*自身宽度的50%*/
    transform: translate(-50%,-50%);
    transform: translateY(100px);

    transform: rotate(90deg); /*顺时针旋转90度*/
    transition: all 0.3s;
    transform-origin: 10 10; /*变形中心点 默认50% 50%*/

    /* scale的优势 不会影响其他元素 可以设置缩放的中心点 */
    transform: scale(x,y); /*xy都是数字 倍数*/
    transform: scale(2); /* 同时缩放宽高 */
    transform: scale(0.5); /* 缩小 */
    transform: translate(50px ,50px) rotate(180deg) scale(2); /*综合写法*/

    /* 动画 1. 定义动画*/
    @keyframes move {
        0% {
            transform: transformX(0px);
        }
        100% {
            transform: transformX(100px);
        }
    }
    @keyframes move {
        from {
            transform: transformX(0px);
        }
        to {
            transform: transformX(100px);
        }
    }
    /* 动画 2. 调用动画*/
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: ease; /*运动曲线*/
    animation-iteration-count: 1; /*被播放的次数 infinite 无限*/
    animation-direction: normal; /*是否反方向播放*/
    animation-fill-mode: backwards; /*默认backwards forwords:停在结束状态*/
}